[Unit]
Description=Key Remapper

[Service]
Type=simple
Restart=on-failure
ExecStart=/home/senken/ubuntu-setup/start.sh

[Install]
WantedBy=multi-user.target
